* {
    font-family: "Raleway", "Montserrat", sans-serif;
}

header {
    display: flex;
    padding: 0px; border: 0px;
    background-color: #ffffff;

}

.Logo {
    height: 80px; width: auto;
    clip-path: circle();
    margin-left: 40px; margin-bottom: 10px; margin-top: 10px; margin-right: 50px;
}

@font-face {font-family: "KG Summer Storm Smooth"; src: url("//db.onlinewebfonts.com/t/d0d2bc17750508018a881bd92edf5b0d.eot"); src: url("//db.onlinewebfonts.com/t/d0d2bc17750508018a881bd92edf5b0d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d0d2bc17750508018a881bd92edf5b0d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d0d2bc17750508018a881bd92edf5b0d.woff") format("woff"), url("//db.onlinewebfonts.com/t/d0d2bc17750508018a881bd92edf5b0d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d0d2bc17750508018a881bd92edf5b0d.svg#KG Summer Storm Smooth") format("svg"); }

header > p {
    font-family: "KG Summer Storm Smooth", "Copperplate", "Impact", serif;
    color: #000;
    font-weight: lighter;
    display: inline-block;
    align-self: center;
    margin: -40px;
}

nav {
    display: inline-block;
    align-self: center;
    margin: 10px;
    max-width: 500px;
    margin: auto;
}

nav > a  {
    color: #689c54;
    text-decoration: none;
    margin-right: 50px;
    font-weight: bold;
}

nav > a:first-of-type{
    margin-left: 50px;
}

.hero-image {
    height: 300px;
    max-width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
}

.content {
    color: white;
    background-color: #689c54;
    border-top-left-radius: 20px; border-bottom-left-radius: 20px;
    margin-left: 80%; 
    padding-block: 5px; padding-right: 30px;
    position: relative;
    top: 200px;
    font-size: 10px;
    text-align: right;
    }

body {
    background-color: #a0c492;
}

hr{
    border-top: 2px black;
}

h3{
    color: #689c54;
    text-align: center;
}

.measure{
    font-weight: bold;
}

.ingredients {
    display: flex;
    flex-direction: column;
    flex: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    width: 200px;
    border-radius: 10px;
}

.steps {
    display: flex;
    flex-direction: column;
    flex: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    width: 200px;
    border-radius: 10px;
}

.flex{
    display: flex;
}

li {

    line-height: 1.5;
}